# Logs
logs
*.log

# Dependency directories
node_modules/
npm-debug.log*

# Environment files
.env

# Build files
build/
dist/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
